<section class="featured-products">
  <div class="featured-header">
    <h2>Featured Products</h2>
    <a href="#" class="view-all">View All</a>
  </div>
  <div class="featured-list">
    <div class="featured-item" *ngFor="let product of featuredProducts">
      <a [routerLink]="['/product/product', product.Id]">
        <img 
          [src]="'https://localhost:59579/images/thumbs/' + ('0000000' + product.pictureId).slice(-7) + '_' + product.seoFilename + getImageExtension(product.mimeType)"
          [alt]="product.Name"
        />
      </a>
      <h3>
        <a [routerLink]="['/product/product', product.Id]">{{ product.Name }}</a>
      </h3>
      <!-- Rating Display -->
      <div class="rating-container" *ngIf="productRatings[product.Id]">
        <div class="stars">
          <span 
            class="star" 
            *ngFor="let star of getStarIcons(productRatings[product.Id].rating)">
            {{ star }}
          </span>
        </div>
        <span class="rating-text">({{ productRatings[product.Id].total }} reviews)</span>
      </div>
      <p class="price">DT{{ product.Price }}</p>
      <button class="btn small-btn" [routerLink]="['/product/product', product.Id]">Shop Now</button>
    </div>
  </div>
</section>